{% extends "base.html" %}
{% load custom_tags %}
        
{% block styles %}
    {{ block.super }}
    
    {% custom_asset "http://fonts.googleapis.com/css?family=Droid+Sans" %}
    {% custom_asset "fonts/ss-social-circle/ss-social-circle.css" %}
    {% custom_asset "fonts/transitivebullshit/transitivebullshit.css" %}
    {% custom_asset "css/libs/isotope.css" %}
    {% custom_asset "css/libs/prism.css" %}
    {% custom_asset "css/libs/jquery/jquery.fancybox.css" %}
    {% custom_asset "css/blur.css" %}
    {% custom_asset "css/index.css" %}
    
    {% custom_asset css %}
{% endblock styles %}

{% block content %}
    {{ block.super }}
    
    <header>
    </header>
    
    <div id="content">
        <div id="navigation">
            <a class="nav nav-all" data-filter="*" href="#">
                <span class="desc">All</span><span class="icon icon-th-2"></span>
            </a>
            
            <a class="nav nav-project" data-filter="[data-tags~=project]" href="#">
                <span class="desc">Projects</span><span class="icon icon-project"></span>
            </a>
            
            <a class="nav nav-article" data-filter="[data-tags~=article]" href="#">
                <span class="desc">Articles</span><span class="icon icon-article"></span>
            </a>
            
            <a class="nav nav-art" data-filter="[data-tags~=art]" href="#">
                <span class="desc">Artwork</span><span class="icon icon-art"></span>
            </a>
            
            <a class="nav nav-about" data-filter="[data-tags~=about]" href="#">
                <span class="desc">About</span><span class="icon icon-about"></span>
            </a>
        </div>
        
        <div class="articles">
            {% include "static_map_article.html" %}
            {% include "css_blur_filters.html" %}
            
            {% for sketch in PROCESSING_SKETCHES %}
                <article class="single sketch" id="sketch-{{sketch.name}}" data-tags="processing art" data-date="6/8/13">
                    <div class="title"><a href="/processing?sketch={{sketch.name}}">{{ sketch.hname|safe }}</a></div>
                    <p class="desc">{{ sketch.desc|safe }}</p>
                    
                    {% if sketch.attr %}
                        <p class="attr">{{ sketch.attr|safe }}</p>
                    {% endif %}
                    
                    <p><a href="/processing?sketch={{sketch.name}}" id="preview-sketch-{{sketch.name}}" class="preview-sketch"></a></p>
                </article>
            {% endfor %}
            
            {% include "processing.html" %}
            {% include "stamped_be.html" %}
            {% include "milton.html" %}
            {% include "pixar.html" %}
            {% include "ticalc.html" %}
            {% include "about.html" %}
            {% include "links.html" %}
        </div>
    </div>
    
    <footer>
        © 2013 Travis Fischer
    </footer>
    <!--<div id="disqus_thread"></div>-->
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    
    {% custom_asset "js/libs/jquery/jquery.isotope.min.js" %}
    {% custom_asset "js/libs/jquery/jquery.fancybox.js" %}
    {% custom_asset "js/libs/prism.js" %}
    {% custom_asset "js/libs/processing-1.4.1.js" %}
    {% custom_asset "js/libs/ss-social.js" %}
    {% custom_asset "js/libs/jquery/jquery-ui-1.10.3.custom.min.js" %}
    {% custom_asset "js/index.js" %}
    
    {% custom_asset js %}
{% endblock scripts %}

