{% extends "base.html" %}
{% load custom_tags %}
        
{% block styles %}
    {{ block.super }}
    
    {% custom_asset "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" %}
    
    {% custom_asset "css/libs/SyntaxHighlighter.css" %}
    {% custom_asset "css/libs/jquery/jquery.fancybox.css" %}
    {% custom_asset "css/libs/jquery/jquery.colorpicker.css" %}
    
    {% custom_asset "css/processing.abstraction.css" %}
    {% custom_asset "css/processing.test.css" %}
    
    {% custom_asset css %}
{% endblock styles %}

{% block content %}
    {% if PROCESSING_SKETCH %}
        <div class="canvas-column">
            <a class="return" href="/processing">Return to all sketches</a>
            
            <canvas id="processing" 
                   data-processing-sources="/assets/pde/{{PROCESSING_SKETCH}}/{{PROCESSING_SKETCH}}.pde"
                   data-processing-abstraction-editor="processing-editor">
            </canvas>
        </div>
        {% if not bare %}
        <div class="editor-column">
            <div class="abstraction-editor">
                <pre id="processing-editor"></pre>
            </div>
        </div>
        {% endif %}
    {% else %}
        {% for sketch in PROCESSING_SKETCHES %}
            <div class="sketch">
                <div class="lhs">
                    <p class="title"><a href="/processing?sketch={{sketch.name}}">{{ sketch.hname|safe }}</a></p>
                    <p class="desc">{{ sketch.desc|safe }}</p>
                    
                    {% if sketch.attr %}
                        <p class="attr">{{ sketch.attr|safe }}</p>
                    {% endif %}
                </div>
                
                <div class="rhs">
                    <a href="/processing?sketch={{sketch.name}}" id="preview-sketch-{{sketch.name}}" class="preview-sketch"></a>
                </div>
                
                <div class="clear"></div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    
    {% custom_asset "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" %}
    {% custom_asset "js/libs/jquery/jquery.themeswitcher.js" %}
    
    {% custom_asset "js/libs/jquery/jquery.history.js" %}
    {% custom_asset "js/libs/jquery/jquery.fancybox.js" %}
    {% custom_asset "js/libs/jquery/jquery.colorpicker.js" %}
    
    {% custom_asset "js/libs/underscore/underscore.js" %}
    {% custom_asset "js/libs/backbone/backbone.js" %}
    {% custom_asset "js/libs/syntaxhighlighter/shCore.js" %}
    
    {% custom_asset "js/processing.abstraction.js" %}
    {% custom_asset "js/processing.test.js" %}
    
    {% custom_asset js %}
{% endblock scripts %}

