{% extends "base.html" %}
        
{% block styles %}
    {{ block.super }}
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>
    
    <link rel="stylesheet" href="{{ STATIC_ASSET_BASE }}css/libs/SyntaxHighlighter.css"></script>
    <link rel="stylesheet" href="{{ STATIC_ASSET_BASE }}css/libs/jquery.fancybox.css?v=2.0.6">
    <link rel="stylesheet" href="{{ STATIC_ASSET_BASE }}css/libs/jquery.colorpicker.css"></script>
    
    <link rel="stylesheet" href="{{ STATIC_ASSET_BASE }}css/styles.css">
    <link rel="stylesheet" href="{{ STATIC_ASSET_BASE }}css/processing.abstraction.css"></script>
    <link rel="stylesheet" href="{{ STATIC_ASSET_BASE }}css/processing.test.css">
{% endblock styles %}

{% block content %}
    {% if PROCESSING_SKETCH %}
        <div class="canvas-column">
            <canvas id="processing" 
                   data-processing-sources="/assets/pde/{{PROCESSING_SKETCH}}/{{PROCESSING_SKETCH}}.pde"
                   data-processing-abstraction-editor="processing-editor">
            </canvas>
        </div>
        
        <div class="editor-column">
            <div class="abstraction-editor">
                <pre id="processing-editor"></pre>
            </div>
        </div>
    {% else %}
        {% for sketch in PROCESSING_SKETCHES %}
            <div class="sketch">
                <div class="lhs">
                    <p class="title"><a href="/processing?sketch={{sketch.name}}">{{ sketch.hname|safe }}</a></p>
                    <p class="desc">{{ sketch.desc|safe }}</p>
                    
                    {% if sketch.attr %}
                        <p class="attr">{{ sketch.attr|safe }}</p>
                    {% endif %}
                </div>
                
                <div class="rhs">
                    <a href="/processing?sketch={{sketch.name}}" id="preview-sketch-{{sketch.name}}" class="preview-sketch"></a>
                </div>
                
                <div class="clear"></div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    
    <!-- attempt to load jQuery from google's ajax CDN, falling back to our own local version -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/libs/jquery/jquery-1.10.1{% if IS_PROD %}.min{% endif %}.js"><\/script>')</script>
    
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="{{ STATIC_ASSET_BASE }}js/libs/jquery.themeswitcher.js"></script>
    
    <script src="{{ STATIC_ASSET_BASE }}js/libs/history/jquery.history.js"></script>
    <script src="{{ STATIC_ASSET_BASE }}js/libs/jquery.fancybox.js"></script>
    <script src="{{ STATIC_ASSET_BASE }}js/libs/jquery.colorpicker.js"></script>
    
    <script src="{{ STATIC_ASSET_BASE }}js/libs/underscore/underscore.js"></script>
    <script src="{{ STATIC_ASSET_BASE }}js/libs/backbone/backbone.js"></script>
    <script src="{{ STATIC_ASSET_BASE }}js/libs/syntaxhighlighter/shCore.js"></script>
    
    <script src="{{ STATIC_ASSET_BASE }}js/processing.abstraction.js"></script>
    <script src="{{ STATIC_ASSET_BASE }}js/processing.test.js"></script>
    
    <script>
        {{ PRELOAD_JS|safe }}
    </script>
{% endblock scripts %}

