{% extends "article.html" %}

{% block class %}double full-height{% endblock class %}
{% block id    %}about{% endblock id %}
{% block tags  %}about{% endblock tags %}
{% block date  %}6/3/2013{% endblock date %}
{% block title %}Travis Fischer{% endblock title %}

{% block content %}
    <img class="article-img-hero" src="{{ STATIC_ASSET_BASE }}img/tf.jpg" />
    
    <p>
        I'm a full-stack software engineer and entrepreneur living in NYC, specializing in generalizing. I grew up in WI where I started programming TI calculator games in middle school, graduated Brown '09 with a degree in computer science and math, spent some time working at Pixar on the film Up and at Microsoft on a research operating system codenamed <a href="http://en.wikipedia.org/wiki/Midori_(operating_system)">Midori</a>, and a few years ago moved out to NYC to start the engineering side of <a href="http://stamped.transitivebullshit.com">Stamped</a> which got <a href="http://techcrunch.com/2012/10/25/yahoo-bought-stamped/">acquired by Yahoo!</a> in the Fall of 2012.
    </p>
    
    <p>
        I am a passionate, experienced developer who loves to stay diverse, but my background is strongest in the following topics: computer graphics / rendering (2D / 3D, online/offline, OpenGL/DirectX, etc.), server-side scalability (AWS, MongoDB, various databases and frameworks, etc.), client-side web development (HTML5, JS, CSS, WebGL, etc.), iOS development, structured data, programming languages (Python, Scala, C++, Javascript, Objective-C, etc) and startup engineering. I also love creating interesting visualizations and generative art, much of which will be hosted on this site.
    </p>
    
    <p>
        The purpose of this site is to act both as a personal portfolio as well as a blog for me to post (hopefully) helpful articles about engineering topics that interest me.
    </p>
{% endblock content %}

