
{% block pre_article %}
<article class="{% block class %}single{%endblock class %}" 
         id="{% block id %}{% endblock id %}"
         data-tags="{% block tags %}{% endblock tags %}"
         data-date="{% block date %}{% endblock date %}">
    {% endblock pre_article %}
    
    <div class="title">{% block title %}{% endblock title %}</div>
    
    <div class="content clearfix">
    {% block content %}{% endblock content %}
    </div>
    
    {% block post_article %}
    <a class="fancybox_ajax fancybox.ajax view-full-article">View Full Article</a>
</article>
{% endblock post_article %}

