{% extends "article.html" %}

{% block class %}double{% endblock class %}
{% block id    %}css_blur_filters{% endblock id %}
{% block tags  %}css article{% endblock tags %}
{% block date  %}6/3/2013{% endblock date %}
{% block title %}CSS Blur Filters{% endblock title %}

{% block content %}
    <p>
        Adding a blur filter to an HTML element, especially a responsive one capable of smooth animation, is a great way to spiff up your website and take advantage of one of the more well-supported but seldom-used features of CSS! It is, however, one of the techniques which to do in a robustly cross-browser way still requires some browser-specific work, and so creating a set of cross-browser CSS blur rules is the subject of this post.
    </p>
    
    <img class="article-img-small blur-img blur_8" src="{{ STATIC_ASSET_BASE }}img/processing/hilbert1.jpg" />
    
    <p>
        At a high-level, there are three distinct CSS approaches that are possible, each with their own strengths and weaknesses, namely <span class="keyword">filter</span> with an SVG file, non-IE browser-specific filters such as <span class="keyword">-webkit-filter</span>, and IE-specific filters using DirectX.
    </p>
    
    <p>
        The most general-purpose approach is to use the CSS <span class="keyword">filter</span> attribute, passing it an SVG file defining the specifics of the filter to be applied. The <span class="keyword">filter</span> approach has the advantage of working in all non-IE browsers with the caveat that filters aren't smoothly animatable.
    </p>
    
    <p>
        The second and most visually appealing approach is to use a browser-specific filter such as <span class="code-snippet">-webkit-filter</span>, passing it a description of a predefined filter such as: <span class="keyword">-webkit-filter: blur(@radius);</span>. This approach is my personal favorite because you can produce really slick animations between different blur radii, for instance, animating between a blur filter applied to an element and on hover gradually removing the blur s.t. the underlying content slowly and smoothly becomes visible. The main disadvantage of this approach, of course, is that it is inherently browser-specific. That being said, it is IMHO worth it to selectively enhance the experience for specific browsers, which has the dual effect of giving a better experience today for a (generally large) subset of your users while also in effect pushing the other browsers to provide better support for interop between CSS filters and transitions/animations.
    </p>
    
    <p>
        And of course the third approach is a special case for our standards-challenged friend, Internet Exporer, using the same CSS <span class="keyword">filter</span> attribute with a Microsoft-specific filter such as <span class="code-snippet">filter: progid:DXImageTransform.Microsoft.blur(pixelradius=@radius);</span>. It has the disadvantage of only working with IE on Windows and not being smoothly animateable via CSS transitions, but if you need to support older vesion of IE, this is really your only option for graceful degradation.
    </p>
    
    <p>
        TODO: figure out compatibility specifics of filter support with three approaches:
            * filter svg
            * -webkit-filter
            * IE progid:DXImageTransform.Microsoft.blur
    </p>
{% endblock content %}

