{% extends "article.html" %}

{% block class %}single full-height{% endblock class %}
{% block id    %}links{% endblock id %}
{% block tags  %}about{% endblock tags %}
{% block date  %}6/3/2013{% endblock date %}
{% block title %}Links{% endblock title %}

{% block content %}
    <ul>
        <li class="link link-email">
            <div class="key">Email:</div>
            <div class="value">fisch0920@gmail.com</div>
        </li>
        
        <li class="link link-github">
            <div class="key">Github:</div>
            <div class="value"><a href="https://github.com/fisch0920">fisch0920</a></div>
        </li>
        
        <li class="link link-linkedin">
            <div class="key">LinkedIn:</div>
            <div class="value"><a href="http://www.linkedin.com/in/fisch2">http://www.linkedin.com/in/fisch2</a></div>
        </li>
        
        <li class="link link-twitter">
            <div class="key">Twitter:</div>
            <div class="value"><a href="https://twitter.com/fisch0920">@fisch0920</a></div>
        </li>
        
        <li class="link link-stamped">
            <div class="key">Stamped:</div>
            <div class="value"><a href="http://stamped.transitivebullshit.com/travis">@travis</a></div>
        </li>
        
        <li class="link link-ti">
            <div class="key">TI calcs:</div>
            <div class="value"><a href="http://www.ticalc.org/archives/files/authors/78/7869.html">www.ticalc.org</a></div>
        </li>
    </ul>
{% endblock content %}

