{% extends "article.html" %}

{% block class %}single full-height{% endblock class %}
{% block id    %}links{% endblock id %}
{% block tags  %}about{% endblock tags %}
{% block date  %}6/3/2013{% endblock date %}
{% block title %}Contact{% endblock title %}

{% block content %}
    <ul class="clearfix">
        <li class="link">
            <a href="mailto:fisch0920@gmail.com"><span class="ss-icon ss-mail"></span> Email me</a>
        </li>
        
        <li class="link">
            <a href="https://github.com/fisch0920"><span class="ss-icon ss-octocat"></span> Fork me</a>
        </li>
        
        <li class="link">
            <a href="http://www.linkedin.com/in/fisch2"><span class="ss-icon ss-linkedin"></span> Hire me</a>
        </li>
        
        <li class="link">
            <a href="https://twitter.com/fisch0920"><span class="ss-icon ss-twitter"></span> Follow me</a>
        </li>
        
        <li class="link">
            <a href="https://facebook.com/fisch2"><span class="ss-icon ss-facebook"></span> Friend me</a>
        </li>
        
        <li class="link">
            <a href="https://play.spotify.com/user/1213287622"><span class="ss-icon ss-spotify"></span> Hear me</a>
        </li>
        
        <li class="link">
            <a href="http://stamped.transitivebullshit.com/travis"><span class="ss-icon ss-link"></span> Stamp me</a>
        </li>
    </ul>
{% endblock content %}

