{% extends "article.html" %}

{% block class %}double{% endblock class %}
{% block id    %}static_map_article{% endblock id %}
{% block tags  %}css article{% endblock tags %}
{% block date  %}6/9/2013{% endblock date %}
{% block title %}Crinkled CSS Map{% endblock title %}

{% block content %}
    <p>
        One of the more fun subprojects I did while working on the web client for <a href="http://stamped.transitivebullshit.com">stamped.com</a> was to have crinkled Google Maps that would react and uncrinkle on hover for all location-based stamps. Doing this with vanilla CSS in a very generic way that would work for any static Google Maps image (or any image at all with the base approach) was interesting enough that I thought I'd post a small writeup about how it was implemented.
    </p>
    
    {% include "static_map.html" %}
    
    <p>
        The essence of the technique is to use a wrapper layer (<span class="css-class">.static-map</span>) to control spacing and sizing, an inner wrapper (<span class="css-class">.static-map-inner</span>), and then four equally sized horizontally-spaced divs (<span class="css-class">.r1</span>, <span class="css-class">.r2</span>, <span class="css-class">.r3</span>, and <span class="css-class">.r4</span>), each with the same <span class="keyword">background-image</span> but with an appropriately offset <span class="keyword">background-position</span> and special 3D transforms applied to them to appear crinkled. The <span class="css-class">.static-map</span> wrapper is necessary to package the map as an isolated, reusable block-level element, and care has to be taken to make the transforms remain centered when the map expands on hover.
    </p>
    
    <pre class="code-block" data-src="/assets/code/static_map.html"></pre>
    
    <p>
        
    </p>
    
    <pre class="code-block code-block-toggle code-block-active" data-src="/assets/code/static_map.less"></pre>
    <pre class="code-block code-block-toggle" data-src="/assets/code/static_map.css"></pre>
    
    <p>
        Note that the <span class="keyword">hover</span> states and the <span class="css-class">.pin</span> and <span class="css-class">.zoom</span> classes are are all extra fluff added as design niceties for Stamped, so they're not core to the basic technique, but I included them for completeness' sake.
    </p>
    
    <p>
        Note that to host your own maps using the real static Google Maps library, you'll have to replace your own Google API key where relevant.
    </p>
{% endblock content %}

