{% extends "article.html" %}

{% block class %}double{% endblock class %}
{% block id    %}ticalc{% endblock id %}
{% block tags  %}project{% endblock tags %}
{% block date  %}6/10/2013{% endblock date %}
{% block title %}TI Calculator Games{% endblock title %}

{% block content %}
    <p><a href="http://www.ticalc.org/archives/files/authors/78/7869.html">profile</a></p>
    
    <div class="screenshot">
        <img class="static-screenshot"   src="http://www.ticalc.org/archives/files/ss/463/46308.gif" />
        <img class="animated-screenshot" src="http://www.ticalc.org/archives/files/ss/463/46307.gif" />
    </div>
    
    <div class="screenshot">
        <img class="static-screenshot"   src="http://www.ticalc.org/archives/files/ss/701/70139.gif" />
        <img class="animated-screenshot" src="http://www.ticalc.org/archives/files/ss/701/70141.gif" />
    </div>
    
    <div class="screenshot">
        <img class="static-screenshot"   src="http://www.ticalc.org/archives/files/ss/712/71205.gif" />
        <img class="animated-screenshot" src="http://www.ticalc.org/archives/files/ss/712/71208.gif" />
    </div>
    
    <div class="screenshot">
        <img class="static-screenshot"   src="http://www.ticalc.org/archives/files/ss/646/64625.gif" />
    </div>
{% endblock content %}

