{% extends "article.html" %}

{% block class %}double{% endblock class %}
{% block id    %}ticalc{% endblock id %}
{% block tags  %}project{% endblock tags %}
{% block date  %}6/10/2013{% endblock date %}
{% block title %}TI Calculator Games{% endblock title %}

{% block content %}
    <img class="article-img-ticalc" src="http://www.ticalc.org/archives/files/ss/712/71208.gif" />
    
    <p>
        I started programming TI calculator games for fun in middle school, and what initially started as a hobby making TI-Basic games in math class ended up turning into making gameboy-quality C games and eventually into a career. I started out writing TI-Basic games for the ti83/ti83+/ti84+, learning mostly from existing games and the wonderful online TI community of fellow hobbyists. One of the things that really got me excited about programming was how supportive and good-natured the community was. The other thing which really gripped me was the ability to quickly create relatively complex worlds by composing very simple programmatic constructs. Learning programming on a platform that's so ubiquitously available across classrooms all over the world was ideal in a lot of ways as an introduction to the field.
    </p>
    
    <p>
        First, working from day one on such a constrained device really forces you to both have a deeper understanding of what types of computations are performant/safe and what to avoid, whereas if you were to start out programming in Java, for instance, your instincts are based in higher-level code most likely for a platform without as many performance constraints. Second, TI calculators ten years ago are similar in popularity and distribution as smartphones are for the average high schooler today; everyone has one, and being able to distribute your work to large audiences (especially close friends) with little effort is a great motivation factor.
    </p>
    
    <p>
        For a full list of TI games &amp; programs I've published, check out my ticalc.org <a href="http://www.ticalc.org/archives/files/authors/78/7869.html">profile</a>. If you're interested in TI programming yourself, I'd highly recommend checking out <a href="http://tigcc.ticalc.org/">TIGCC</a>, a fork of GCC targeting the TI-89, TI-89 Titanium, TI-92 Plus and Voyage 200 calculators.
    </p>
    
    <p>Here are some my favorite TI releases!</p>
    
    <ul>
        <li>
            <h2><a href="http://www.ticalc.org/archives/files/fileinfo/340/34089.html">ExciteBike 68k</a></h2>
            
            <a class="screenshot" href="http://www.ticalc.org/archives/files/fileinfo/340/34089.html">
                <img class="static-screenshot"   src="http://www.ticalc.org/archives/files/ss/463/46308.gif" />
                <img class="animated-screenshot" src="http://www.ticalc.org/archives/files/ss/463/46307.gif" />
            </a>
            
            <p>
                This game is an excellent clone of the well-known NES Excitebike dirtbike racing game. Race to achieve records and unlock secrets while avoiding hazardous terrain and catching air on a variety of jumps. Features include two-player link races, gameplay/tracks identical to the original, built-in track editor, ability to perform flips, French and German versions included, well structured C source code included, Runs fast and smooth on HW1 and HW2 68k Calcs, and the graphics are awesome. The game will run on all 68k calcs, including the Ti-89 Titanium.
            </p>
        </li>
        
        <li>
            <h2><a href="http://www.ticalc.org/archives/files/fileinfo/318/31834.html">Ice Hockey 68k</a></h2>
            
            <a class="screenshot" href="http://www.ticalc.org/archives/files/fileinfo/318/31834.html">
                <img class="static-screenshot"   src="http://www.ticalc.org/archives/files/ss/701/70139.gif" />
                <img class="animated-screenshot" src="http://www.ticalc.org/archives/files/ss/701/70141.gif" />
            </a>
            
            <p>
                Ice Hockey 68k is an excellent one or two player 3v3 hockey game! Features include TI-89 Titanium support, 31 Official NHL teams, strong AI, a grayscale scrolling rink, rwo-player Linking Option, easily customizable, 4 modes of play, team editor, customizable game speed, well structured C source code included, Runs Fast and Smooth on HW1 and HW2 68k Calcs, and the graphics are awesome. The game also has automatic calc detection, so the same executable will run on the TI-89/Ti-89T/TI-92+/v200. The 4 modes of play are exhibition, tournament, shootout, and practice. Multiplayer is available in the exhibition and shootOut modes.
            </p>
        </li>
        
        <li>
            <h2><a href="http://www.ticalc.org/archives/files/fileinfo/369/36964.html">Sumo Wrestling</a></h2>
            
            <a class="screenshot" href="http://www.ticalc.org/archives/files/fileinfo/369/36964.html">
                <img class="static-screenshot"   src="http://www.ticalc.org/archives/files/ss/712/71205.gif" />
                <img class="animated-screenshot" src="http://www.ticalc.org/archives/files/ss/712/71208.gif" />
            </a>
            
            <p>
                Full-featured sumo wrestling game, complete with everything from pre-match smack talk, to earthquake-inducing tosses, to creating your own customized wrestlers! Features include two-player link matches, intense button-smashing, yet strategic gameplay, built-in sumo editor for creating your own wrestlers, a wide variety of moves and creative finishes, well structured C source code included, Runs Fast and Smooth on HW1 and HW2 68k calcs, and the graphics are awesome. All sixteen built-in wrestlers are official, top-ranked Japanese sumo wrestlers. The game will run on all 68k calcs, including the Ti-89 Titanium. Update includes the much anticipated tournament Mode!
            </p>
        </li>
        
        <li>
            <h2><a href="http://www.ticalc.org/archives/files/fileinfo/350/35050.html">Bomberman</a></h2>
            
            <a class="screenshot" href="http://www.ticalc.org/archives/files/fileinfo/350/35050.html">
                <img class="static-screenshot"   src="http://www.ticalc.org/archives/files/ss/646/64626.gif" />
            </a>
            
            <p>
                TI-Basic graphical rendition of the classic Bomberman genre! The objective of the game is to progress through as many levels as you can, blowing up enemies/bricks and making it safely to the exit. Features include multiple level setups, difficulty settings, randomly generated levels, in-game instructions, and excellent animated graphics. By far my most popular TI game with over 250k downloads (the market has definitely been skewed towards the TI-83+ for a long time).
            </p>
        </li>
    </ul>
{% endblock content %}

